name: CI with CodeCov

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Setup
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
 
    - name: Build
      run: dotnet build -c Release
    
    - name: Test
      run: dotnet test --no-build --verbosity normal --collect:"XPlat Code Coverage" -c Release
    
    - name: Coverage
      uses: codecov/codecov-action@v2
      with:
        fail_ci_if_error: true
        verbose: true
